<h1>Pages#index</h1>


<div ng-app="app">
  <div ng-controller="stuffCtrl">

    <p>{{ messsage }}</p>

    <input ng-model="message">

    <div id="task">
      <h3>Cat tasks:</h3>
      <li ng-repeat="task in tasks">{{ task }}</li>
    </div>

  </div>
</div>
