<h1>Pages#index</h1>


<div ng-app="app">
  <div ng-controller="stuffCtrl">
    <p>{{ firstTask }}</p>
    <p>{{ secondTask }}</p>
    <p>{{ thirdTask }}</p>
    <p>{{ messsage }}</p>

    <input ng-model="message">
    <input ng-model="thirdTask">
  </div>
</div>