<h1>Pages#index</h1>


<div ng-app="app">
  <div ng-controller="stuffCtrl">

    <p>{{ messsage }}</p>

    <input ng-model="message">

    <div id="task">
      <h3>Cat tasks:</h3>
      <div ng-repeat="task in tasks track by $index" ng-if="isAboutCat(task.text)">
      <span ng-click="completeTask($index)">{{ task.text }}</span> <strong>{{ task.importance }}</strong>
      <input ng-model="task.text">
      </div>
    </div>

    <h3>Add a new task:</h3>
    <p>{{ errorMessage }}</p>

    Task Text: <input ng-model="newTaskText"><br>
    Task Importance: <input ng-model="newTaskImportance"><br>
    Task Duration: <input ng-model="newTaskDuration"><br>
    <button ng-click="addTask(newTaskText, newTaskImportance, newTaskDuration)">Add Task</button>

  </div>
</div>
